.header-container {
  background-color: $clr2;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
  .main-header {
    padding-top: 75px;
    margin-bottom: 65px;
    .main-nav {
      .nav-link {
        color: unset;
        color: $clr6;
        padding-right: 50px;
        height: 19px;
        color: #ffffff;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        &.last {
          padding-right: none;
        }
     
        
      }
      &.open{
        @media (max-width: $mobile-breakpoint) {
          display: flex;
          flex-direction: column;
          position: fixed;
          right: 10px;
          top: 140px;
          gap: 20px;
          background-color: $clr2;
          height: 300px;
          width: 100%;
          align-items: center;
          // box-shadow: #ffffff 0px 4px;
          .nav-link{
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 8px;
            
          }
        }
      
      }
      @media (max-width: $mobile-breakpoint) {
        display: none;
      }
    }
    .btn-menu {
      all: unset;
      display: none;

      @media (max-width: $mobile-breakpoint) {
        display: block;
        padding-right: 50px;
      }
    }
  }
}
