.info-cards-container {
  display: flex;
  flex-wrap: wrap;
@media (max-width: $mobile-breakpoint){
flex-direction: column;
}
  .info-card {
    flex-basis: 50%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 95px;
    img{
        height: 104px;
        padding-bottom: 36px;
    }
    .card-title {
      height: 24px;
      color: #ffffff;
      font-family: 'Raleway - Bold';
      font-size: 20px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;
    }
    .card-content {
      width: 43ch;
      height: 62px;
      color: #ffffff;
      font-family: 'Open Sans - Regular';
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 21px;
      text-align: center;
    }
  }
}
