@font-face {
  font-family: openSans;
  src: url(@/assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: raleway;
  src: url(@/assets/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: Nunito;
  src: url(@/assets/fonts/NunitoSans-Regular.ttf);
}

@font-face {
  font-family: Raleway-Bold;
  src: url(@/assets/fonts/Raleway-Bold.ttf);
}
