// Colors
$clr1: #181f2b; // intro and email sign up background
$clr2: hsl(217, 28%, 15%); //main background
$clr1: hsl(216, 53%, 9%); //footer background
$clr4: hsl(176, 68%, 64%); //(inside call-to-action gradient
$clr5: hsl(198, 60%, 50%); //inside call-to-action gradient
$clr6: #fff;

$primary-clr: #873dc8;

// Breakpoints
$mobile-breakpoint: 500px;
$small-breakpoint: 650px;
$medium-breakpoint: 750px;
$narrow-breakpoint: 1100px;
$normal-breakpoint: 1300px;
$wide-breakpoint: 1500px;
$x-wide-breakpoint: 2000px;